$gray: #27282d;
$medium-gray: lighten(#27282d, 25%);
$light-gray: lighten(#27282d, 65%);
$gradient: linear-gradient(140deg, rgb(219, 98, 65) 0%, rgb(229, 91, 141) 100%);

h2 {
    color: $gray;
    font-size: 1.6rem;
}

p {
    color: $gray;
    font-size: 1.063rem;
}

.input-container {
    position: relative;
    margin-bottom: 30px;
    width: 340px;

    .input-container--svgAlign {
        display: flex;
    }
}

input,
button {
    font-family: "Dosis", sans-serif;
    letter-spacing: 1.3px;
}

input {
    box-sizing: border-box;
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 1px solid $medium-gray;
    color: $gray;
    padding: 12px 6px 12px 36px;
    font-size: 19px;
    outline: none;
    caret-color: rgb(229, 91, 141);
}
input:focus {
    border-bottom: 1px solid transparent;
    border-image: $gradient;
    border-image-slice: 1;
}
input:focus + i {
    color: $light-gray;
}
::placeholder {
    color: $gray;
    opacity: 0.4;
}
i {
    color: $medium-gray;
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    transition: color 0.3s;
}
button {
    background: #57bbbc;
    border: none;
    width: 20.75rem;
    border-radius: 3.9px;
    color: #fff;
    font-size: 16px;
    padding: 16px 36px;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 20px;
    margin-bottom: -30px;
    box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.65);
    transition: all 0.3s;

    button:hover {
        background: lighten($gray, 10%);
        box-shadow: 0px 5px 20px -3px rgba(0, 0, 0, 0.65);
    }
}

.alignments {
    text-align: -webkit-center;
    display: flex;
    flex-direction: column;
    margin-top: 27vh;

    img {
        height: 7vh;
    }
}
